.Menu{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 7%;
    z-index: 1;
    background-color: #fff;
}

.Menu .arrow{
    width: 30px;
    outline: none;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17%;
}

.arrow i{
    font-size: 20px;
    font-weight: bold;
}

.Menu .icon{
    width: 45px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

.Menu .nav{
    text-align: center;
    height: 70%;
    width: 100%;
    position: relative;
}

.Menu ul{
    position: absolute;   
    text-align: center;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Menu li{
    list-style-type: none;
    padding: 15px 10px;
    display: block;
    width: 50px;
    margin-left: auto ;
    margin-right: auto ;
}

.active{
    border-bottom: 1px solid #B0914F;
}

.Menu li i{
    font-size: 22px;
    color: #000;
}