.Slider {
  width: 100%;
  height: 100vh;
  position: relative;
  flex: 93%;
}

.Slider .images {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Slider .container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 10%;
}

.Slider .gear {
  width: 50px;
  height: 50px;
  background-color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.gear i {
  font-size: 40px;
  margin-top: 3px;
  color: #333333;
  max-width: 40px;
  animation-name: spin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.Slider button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

.Slider button i {
  margin: auto;
  color: #b0914f;
  font-size: 20px;
}

.Slider button i:hover {
  color: #000000;
}

.colors {
  height: 100px;
  width: 200px;
  background-color: white;
  text-align: center;
}

.Slider .buttons {
  position: absolute;
  bottom: 5%;
  right: 7%;
  z-index: 10;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
